{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <div class="d-flex justify-content-center my-4" id="filters">
    <button class="btn btn-dark mx-1" data-filter="All">All</button>
    <button class="btn btn-dark mx-1" data-filter="Bicycles">Bicycles</button>
    <button class="btn btn-dark mx-1" data-filter="Cycleboards">Cycleboards</button>
    <button class="btn btn-dark mx-1" data-filter="Skateboards">Skateboards</button>
  </div>
  <div class="card-columns">
    {% for product in products %}
    <div class="card">
      <img class="thumbnail card-img-top" src="{{product.imageURL}}">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <div class="d-flex">
          <p class="card-text flex-fill" data-category="{{product.category}}">{{product.category}}</p>
          <h6 style="text-align: right;">
            <strong class="text-muted">${{product.price}}</strong>
          </h6>
        </div>
      </div>
      <div class="card-footer bg-white d-flex">
        <a class="btn px-2 mx-1 flex-fill btn-outline-success" href="#">View</a>
        <button data-product="{{product.id}}" data-action="add" class="btn px-2 mx-1 flex-fill btn-outline-secondary add-btn update-cart">
          Add to Cart
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
